{% include 'photoheader.html'%}
<body>
	<form method="post">
		
		<table border="1" align="center" class="table" style="width:700px;background-color:#f1f1c1">
			<h1 align="center"><font color="red">View  Scholarship</font>
			<tr>
				<th>title</th>
				<th>description</th>
				<th>date</th>
				<th>Status</th>
			</tr>
			<tbody>
				{% for row in data['po']%}
				<td>{{row['title']}}</td>
				<td>{{row['description']}}</td>
				<td>{{row['date']}}</td>
				<td>{{row['status']}}</td>
			
				
			</tbody>
				{% endfor %}
		</table>
	</form>
{% include 'footer.html'%}
